.wrapper {
    .form {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: auto;

        .left {
            .top {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: auto;
                margin: 0 0 10px 0;

                .inputs {
                    padding: 0 10px 0 0;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    .form-control {
                        .input {
                            padding: 10px;
                            border-radius: var(--border-darius-all);
                            background-color: var(--primary);
                            box-shadow: var(--box-shadow-all);

                            input {
                                width: 100%;
                                height: 30px;
                                padding: 0 5px;
                                border: 2px solid #edede9;
                                border-radius: var(--border-darius-all);
                            }
                        }

                        .checkbox {
                            display: flex;
                            justify-content: space-between;
                            padding: 10px 10px;
                            border-radius: var(--border-darius-all);
                            background-color: var(--primary);
                            box-shadow: var(--box-shadow-all);
                            .color-label {
                                display: flex;
                                align-items: center;
                                cursor: pointer;

                                .custom-checkbox {
                                    width: 35px;
                                    height: 35px;
                                    border-radius: 50%;
                                    border: 2px solid #ccc;
                                    transition: border-color 0.3s;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    position: relative;
                                }

                                .size-checkbox {
                                    width: 40px;
                                    height: 35px;
                                    border: 2px solid #ccc;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    transition: border-color 0.3s;
                                    border-radius: var(--border-darius-all);
                                }

                                .selected {
                                    border-color: #000000;
                                }

                                .color-display {
                                    width: 25px;
                                    height: 25px;
                                    border-radius: 50%;
                                    display: inline-block;
                                    box-shadow: var(--box-shadow-all);
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }

                                input[type='checkbox'] {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .thumbnail {
                    padding: 0 10px;

                    .frame {
                        padding: 10px;
                        background-color: var(--primary);
                        box-shadow: var(--box-shadow-all);
                        border-radius: var(--border-darius-all);

                        .image {
                            height: 340px;
                            border-radius: var(--border-darius-all);
                            background: #edede9;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center center;
                        }
                    }
                }
            }

            .bot {
                margin: 10px 0 0 0;

                .content {
                    padding: 10px 10px;
                    height: 200px;
                    border-radius: var(--border-darius-all);
                    background-color: var(--primary);
                    box-shadow: var(--box-shadow-all);
                    textarea {
                        width: 100%;
                        height: 100%;
                        padding: 5px;
                        font-family: 'Inter', sans-serif;
                        border: 2px solid #edede9;
                        border-radius: var(--border-darius-all);
                    }
                }
            }

            .desc {
                padding: 0 10px 0 0;
            }
        }

        .right {
            .review,
            .option {
                padding: 0 0 0 10px;
                .card,
                .buttons {
                    padding: 10px 10px;
                    border-radius: var(--border-darius-all);
                    background-color: var(--primary);
                    box-shadow: var(--box-shadow-all);
                }

                .card {
                    height: 500px;

                    .thumb {
                        width: 100%;
                        height: 340px;
                        border-radius: var(--border-darius-all);
                        background-color: #edede9;

                        .image-1 {
                            // width: auto;
                            height: 340px;
                            border-radius: var(--border-darius-all);
                            background: #edede9;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center center;
                        }
                    }

                    .info {
                        padding: 10px 0;

                        .double {
                            margin: 5px 0;

                            .color-clt {
                                .color {
                                    display: flex;
                                    justify-content: flex-end;
                                }

                                .list {
                                    width: 100%;
                                    display: flex;

                                    .color-display {
                                        width: 20px;
                                        height: 20px;
                                        border-radius: 50%;
                                        margin-left: 5px;
                                        box-shadow: var(--box-shadow-all);
                                    }
                                }
                            }
                        }

                        .size-clt,
                        .double {
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }

                .buttons {
                    height: 60px;
                    display: flex;
                    justify-content: space-between;

                    button {
                        width: 100%;
                        margin: 0 10px;
                        cursor: pointer;
                        border: none;
                        border-radius: var(--border-darius-all);

                        p {
                            font-weight: bold;
                        }
                    }

                    .submit {
                        color: var(--primary);
                        background-color: var(--button);
                    }

                    button:hover {
                        box-shadow: var(--box-shadow-all);
                    }
                }
            }

            .option {
                margin: 10px 0 0 0;
            }
        }
    }
}

label {
    font-weight: bold;
}
