@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root {
    //color
    --primary: #fff;
    --button: #000;

    //shadow
    --box-shadow-all: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    //border
    --border-darius-all: 5px;
}

body {
    font-family: 'Inter', sans-serif !important;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: azure;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: var(--button);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
